:root {
    --black: black;
    --white: white;
    --blackish: rgba(0, 0, 0, 0.5);
    --fancy: rgba(235, 158, 158, 0.507);
}


.overlay{
z-index: 1;
position: fixed;
width: 100vw;
height: 100vh;
top: 0;
left: 0;
background-color: rgba(0, 0, 0, 0.6);
display: flex;
justify-content: center;
align-items: center;
}

/* form container*/
.formContainer {
    z-index: 2;
    /* position: fixed; */
    width: 50vh;
    height: 50vh;
    background-color: whitesmoke;
    border-radius: 20%;
}

/* form body */
.formContainer>form {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 4vh;
    font-size: 4vh;
    color: var(--blackish);
    text-align: center;
    justify-content: space-between;
}

form p.header {
    font-family: sans-serif;
    color: var(--black);
    font-size: 0.8em;
}

form label {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.85em;
}

form label.level {
    font-size: 1em;
}

form p.modern {
    font-family: sans-serif;
    color: var(--black);
}

/* radio signs dissapear */
[type="radio"] {
    opacity: 0;
    width: 0;
    height: 0;
    font-size: 0.80em;
}

/* pointer cursor on clickable*/
[type=radio]+i,
p,
div {
    cursor: pointer;
    margin: 0;
}

/* checked */
[type=radio]:checked+i {
    color: var(--black);
}

[type=radio]:checked+p {
    color: var(--black);
    font-weight: bold;
}

/* labels displayed as flex */


/* icon size */
form i {
    font-size: 2em;
    display: flex;
    color: var(--blackish);
}

/* side: white */
form div#white {
    height: 1.2em;
    width: 1.2em;
    background-color: white;
    border-radius: 50%;
}

/* side white checked */
form [type=radio]:checked+div#white {
    height: 1.9em;
    width: 1.9em;
    background-color: white;
    border-radius: 50%;
}

/* side: black */
form div#black {
    height: 1.2em;
    width: 1.2em;
    background-color: black;
    border-radius: 50%;
}

/* side black checked */
form [type=radio]:checked+div#black {
    height: 1.9em;
    width: 1.9em;
    background-color: black;
    border-radius: 50%;
}

.select {
    display: block;
    font-size: 0.6em;
    font-family: sans-serif;
    font-weight: 700;
    color: var(--black);
    padding: .4em 0.8em .4em 0.8em;
    outline: none;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
}


form input[type='submit'] {
    font-size: 0.6em;
    height: 1.8em;
}